.forgotPasswordRoot {
    background-color: white;
    box-shadow: 2px -1px 26px -15px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 5% 0;
    z-index: 10;
    margin-top: -10%;
    width: 50%;
}

.forgotPasswordBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
}

.forgotPopupClose {
    position: relative;
    top: -70px;
    left: 42%;
    cursor: pointer;
}

.forgotPasswordBlock p {
    font-size: 16px;
    font-weight: 600;
}

.forgotPasswordBlock input {
    margin: 10% 0;
    width: 50%;
    outline-color:#1877f3;
    outline-width: thin;
    margin: 1% 0;
    padding: 2% 3%;
    border-radius: 5px;
    border: 1px solid #dddfe3;
    font-size: 16px;
}

.retrieveButton {
    margin-top: 1%;
    /* width: 5%; */
    padding: 1.5% 2%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #1877f3;
    color: white;
    cursor: pointer;
}

.retrievedDetails {
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
    padding: 2% 5% 0 5%;
    font-weight: 600;
}

.retrievedDetailsHeader {
    font-size: 14px;
    font-size: 400;
    text-decoration: overline;
}

.retrieveDetailsSpan {
    font-size: 16px;
    font-size: 400;
    font-style: italic;
}